<div>
  <div
    class="relative w-full flex justify-center items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-gradient-to-r from-sky-600 to-cyan-400 rounded-md"
  >
    <span class="pl-2 mx-1">Create new Student</span>
  </div>
  <div class="mt-5 rounded-lg shadow">
    <div class="px-5 pb-5">
      <div class="flex">
        <input
          type="text"
          placeholder="Name"
          class="w-1/2 mr-3 px-4 py-2.5 mt-2"
        />
        <input
          type="text"
          placeholder="father name"
          class="w-1/2 ml-3 px-4 py-2.5 mt-2"
        />
      </div>

      <input
        type="text"
        placeholder="phone number"
        class="w-full px-4 py-2.5 mt-2"
      />
      <textarea
        placeholder="Address"
        class="w-full px-4 py-2.5 mt-2"
      ></textarea>
    </div>
    <!-- class="text-black focus:ring-cyan-500 focus:border-blue-500 dark:text-white w-full px-4 py-2.5 mt-2 transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200 dark:bg-gray-600" -->

    <hr class="mt-4" />
    <div class="flex flex-row-reverse p-3">
      <div class="flex-initial pl-3">
        <button
          type="button"
          class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-gradient-to-r from-sky-600 to-cyan-400 rounded-lg transition duration-300 transform active:scale-95 ease-in-out"
        >
          <span class="pl-2 mx-1">Save</span>
        </button>
      </div>
    </div>
  </div>
</div>
