<div class="min-h-screen bg-gray-100 flex flex-col justify-center py-12">
  <div class="relative py-3 mx-auto w-[90%]">
    <div
      class="w-full md:w-2/3 absolute inset-0 m-auto bg-gradient-to-r from-sky-600 to-cyan-400 shadow-lg transform skew-y-0 rotate-6 rounded-3xl"
    ></div>
    <div
      class="w-full md:w-2/3 m-auto relative px-4 py-10 bg-white shadow-lg rounded-3xl p-20"
    >
      <div class="flex justify-center bold">
        <h2>welcome to out system</h2>
      </div>
      <div class="flex justify-center m-8">
        <img ngSrc="/assets/images/logo.svg" width="100" height="100" />
      </div>
      <div class="flex justify-center">
        <div class="sm:w-4/5 lg:w-1/2">
          <div class="mt-5">
            <div class="flex w-full">
              <input
                [(ngModel)]="login_info.email"
                type="text"
                class="!rounded-r-none w-[90%]"
                placeholder="name"
                required
              />
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
              >
                <mat-icon>perm_identity</mat-icon>
              </span>
            </div>
          </div>
          <div class="mt-5">
            <div class="flex w-full">
              <input
                [(ngModel)]="login_info.password"
                [type]="hide ? 'password' : 'text'"
                placeholder="password"
                class="!rounded-r-none w-[90%]"
                required
              />
              <span
                class="inline-flex items-center px-3 text-sm text-gray-900 bg-gray-200 rounded-r-md dark:bg-gray-600 dark:text-gray-400 dark:border-gray-600"
              >
                <button
                  mat-icon-button
                  matSuffix
                  (click)="hide = !hide"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide"
                >
                  <mat-icon>{{
                    hide ? "visibility_off" : "visibility"
                  }}</mat-icon>
                </button>
              </span>
            </div>
          </div>
          <div class="flex justify-center mt-5">
            <div class="flex-initial pl-3">
              <button
                type="button"
                class="flex items-center px-5 py-2.5 font-medium tracking-wide text-white capitalize bg-gradient-to-r from-sky-600 to-cyan-400 rounded-lg transition duration-300 transform active:scale-95 ease-in-out"
              >
                <span class="pl-2 mx-1" (click)="login()">Login</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
