<app-scanner *ngIf="!error" [callbackFunction]="callback"></app-scanner>

<div class="flex justify-center" *ngIf="all_att.length > 0">
  <button
    (click)="upload()"
    type="button"
    class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2"
  >
    Upload
    <span
      class="inline-flex items-center justify-center w-4 h-4 ml-2 text-xs font-semibold text-blue-800 bg-blue-200 rounded-full"
    >
      {{ all_att.length }}
    </span>
  </button>
</div>
<div class="m-5" *ngIf="cu">
  <div
    class="max-w-2xl px-8 py-4 bg-white rounded-lg shadow-md dark:bg-gray-800"
  >
    <div class="flex items-center justify-between">
      <span class="text-sm font-light text-gray-600 dark:text-gray-400">{{
        cu.date | date
      }}</span>
    </div>

    <div class="mt-2">
      <a
        class="text-xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline"
        tabindex="0"
        role="link"
        >{{ cu.name }}</a
      >
    </div>
  </div>
</div>

<app-table [data]="all_att" [col]="columns"></app-table>
