<form [formGroup]="createMemorizeForm">
  <div class="center mb-7 font-extrabold text-5xl">New Memorization</div>

  <div class="grid grid-cols-2 gap-5">
    <label class="font-bold titleText p-1" for="class">Class: </label>
    <p-autoComplete
      [(ngModel)]="classSelected"
      (onSelect)="onChangeClass()"
      formControlName="class"
      [suggestions]="selectFilterClass"
      (completeMethod)="filterItemsClasses($event)"
      field="name"
      [dropdown]="true"
    >
    </p-autoComplete>
    <label for="student" class="font-bold titleText p-1">Student: </label>
    <p-autoComplete
      formControlName="student"
      [suggestions]="selectFilterStudent"
      (completeMethod)="filterItemsStudent($event)"
      field="name"
      [dropdown]="true"
    >
    </p-autoComplete>
    <label for="type" class="font-bold titleText p-1">Type: </label>
    <p-dropdown
      [(ngModel)]="typeSelected"
      (ngModelChange)="changeType()"
      formControlName="type"
      [options]="typesOfMemorization"
      optionLabel="name"
    ></p-dropdown>

    <label for="type" class="font-bold titleText p-1">Number of part: </label>
    <input formControlName="part" type="text" pInputText />

    <label for="type" class="font-bold titleText p-1">Number of card: </label>
    <input formControlName="card" type="text" pInputText />

    <label for="type" class="font-bold titleText p-1">Number of page: </label>
    <input formControlName="page" type="text" pInputText />

    <label for="type" class="font-bold titleText p-1">Chapter Name: </label>
    <p-autoComplete
      formControlName="chapter"
      [suggestions]="selectFilterChapter"
      (completeMethod)="filterItemsChapter($event)"
      field="name"
      [dropdown]="true"
    >
    </p-autoComplete>

    <label for="type" class="font-bold titleText p-1">Evaluation: </label>
    <p-dropdown
      formControlName="evaluation"
      [options]="evaluationOptions"
      optionLabel="name"
    ></p-dropdown>

    <button
      pButton
      type
      type="button"
      label="Save"
      class="flex p-button-raised col-span-2 justify-center w-full px-5 py-2  tracking-wide text-white transition-colors duration-200 rounded-lg shrink-0 gap-x-2 bg-gradient-to-r from-sky-600 to-cyan-400"
      [loading]="isLoading"
      (click)="saveMemorize()"
    ></button>

    </div>
</form>
