<!-- <div class="qr-scan-area">
  <zxing-scanner
    [formats]="allowedFormats"
    #scanner
    (camerasNotFound)="cc()"
    [(device)]="currentDevice"
    (scanSuccess)="onCodeResult($event)"
    (permissionResponse)="onHasPermission($event)"
  ></zxing-scanner>
  <div class="qr-area">
    <div class="area"></div>
  </div>
</div> -->
<div class="qr-scan-area">
  <zxing-scanner
    class="qr"
    style="
      width: 200px;
      max-height: 200px;
      border: 1px solid red;
      overflow: hidden;
    "
    [formats]="allowedFormats"
    #scanner
    (camerasNotFound)="cc()"
    [(device)]="currentDevice"
    (scanSuccess)="onCodeResult($event)"
    (permissionResponse)="onHasPermission($event)"
    [delayBetweenScanSuccess]="3000"
  ></zxing-scanner>
</div>
