.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

.table-responsive {
  display: block;
  overflow-x: auto;

  .mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
  }

  .mat-row,
  .mat-header-row {
    display: table-row;
  }

  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
}

input {
  max-width: 50px;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
  padding: 0 10px 0 10px;
}