<div class="mat-elevation-z8 overflow-x-auto">
  <table mat-table [dataSource]="dataSource" matSort #table>
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
          [aria-label]="checkboxLabel()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <ng-container
      [sticky]="column.sticky"
      *ngFor="let column of columns"
      [matColumnDef]="column.columnDef"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <input
          *ngIf="column.filter"
          type="text"
          class="bg-transparent form-input rounded-md !max-w[{{
            column.width
          }}px] md:!max-w-fit"
          [placeholder]="column.header"
          (keyup)="applyEmpFilter($event, column)"
        />
        <span *ngIf="!column.filter">{{ column.header }}</span>
      </th>
      <td mat-cell *matCellDef="let row">
        <span *ngIf="column.type == 'check'">
          <mat-checkbox
            [checked]="column.cell(row)"
            disabled="true"
          ></mat-checkbox>
        </span>
        <span *ngIf="!(column.type == 'check')">
          {{ column.cell(row) }}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element" class="no">
        <div class="no flex flex-col md:flex-row">
          <span *ngFor="let action of actions_ops" class="no m-2">
            <button class="bg-slate-300 no" (click)="exec(action)">
              {{ action.title }}
            </button>
          </span>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns"
      (click)="select_row($event, row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
    ></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter</td>
    </tr>
  </table>
  <mat-paginator
    sticky
    [length]="dataSource.data.length"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
