<div *ngIf="!loading">
  <section class="container px-4 mx-auto mb-10">
    <div class="flex items-center justify-between">
      <div class="gap-x-3 p-4 min-w-[50%]">
        <h2 class="text-lg font-medium text-gray-600 dark:text-white">
          Classes
        </h2>
      </div>

      <div class="gap-x-3 min-w-[50%] sm:min-w-fit">
        <button
          (click)="add_class()"
          class="flex items-center justify-center w-full px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 rounded-lg shrink-0 gap-x-2 bg-gradient-to-r from-sky-600 to-cyan-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-5 h-5"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>

          <span>Add Class</span>
        </button>
      </div>
    </div>
  </section>

  <div class="flex items-center justify-center">
    <div
      class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 xl:grid-cols-4"
    >
      <!--  card -->
      <div
        class="relative bg-white py-6 px-6 rounded-3xl w-64 my-4 shadow-xl"
        *ngFor="let item of classes"
      >
        <div
          class="text-white flex items-center absolute rounded-full py-4 px-4 shadow-xl bg-blue-500 left-4 -top-6"
        >
          <!-- svg  -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-8 w-8"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10"
            />
          </svg>
        </div>
        <div class="mt-8">
          <a [routerLink]="[item.id]" class="text-xl font-semibold my-2">{{
            item.name
          }}</a>

          <div class="border-t-2"></div>

          <div class="flex justify-between">
            <div class="my-2">
              <p class="font-semibold text-base mb-2">Students Count</p>
              <div class="text-base text-gray-400 font-semibold">
                <p>{{ item.students_count }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
