<div class="bg-gray-100 dark:bg-gray-700 flex h-screen">
  <app-sidebar [toggle]="open" class="h-screen"></app-sidebar>
  <div
    class="w-full"
    [ngClass]="{
      'ml-[45%] rtl:mr-[45%] md:ml-[25%]  sm:ml-[30%] rtl:sm:mr-[30%] lg:ml-[25%] xl:ml-[25%]     rtl:ml-0   rtl:md:mr-[25%] rtl:lg:mr-[25%]   rtl:xl:mr-[20%]  2xl:ml-[15%] rtl:2xl:mr-[15%]':
        open
    }"
  >
    <header
      #header
      class="sticky top-0 h-16 border-b bg-white dark:bg-gray-800 dark:border-gray-700 lg:pb-2.5 w-full"
    >
      <div class="flex items-center justify-between px-6 2xl:mx-[2.5%]">
        <button
          class="-mr-2 h-16 w-12 border-r dark:border-gray-700 dark:text-gray-300 rtl:border-l rtl:border-r-0"
          (click)="open = !open"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="my-auto h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>
        </button>
        <div class="flex">
          <div class="relative inline-block group">
            <!-- Dropdown toggle button -->
            <button
              class="mx-3 h-10 w-10 rounded-xl transition ease-out duration-100 relative z-10 block p-2 bg-gray-100 active:bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
            >
              <img
                src="/assets/images/icons/translate.png"
                class="m-auto h-5 w-5"
                alt="lang"
              />
            </button>

            <!-- Dropdown menu -->
            <div
              #lang
              class="group-hover:block hidden absolute right-0 z-20 w-fit mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-lg dark:bg-gray-800"
            >
              <div class="py-2">
                <a
                  (click)="change_lang('en')"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700"
                >
                  <i class="fi fi-us"> </i>
                  <span class="mx-4 dark:text-gray-50"> English</span>
                </a>
                <a
                  (click)="change_lang('ar')"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700"
                >
                  <i class="fi fi-sa"> </i>
                  <span class="mx-4 dark:text-gray-50"> عربية</span>
                </a>
              </div>
            </div>
          </div>
          <div class="relative inline-block group">
            <!-- Dropdown toggle button -->
            <button
              class="mx-3 h-10 w-10 rounded-xl transition ease-out duration-100 relative z-10 block p-2 bg-gray-100 active:bg-gray-200 dark:bg-gray-700 dark:border-gray-600 dark:active:bg-gray-800"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="m-auto h-5 w-5 text-gray-600 dark:text-gray-300"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z"
                />
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              #not
              class="group-hover:block hidden rtl:md:right-[-400%] rtl:right-[-300%] absolute right-0 z-20 w-64 mt-2 overflow-hidden origin-top-right bg-white rounded-md shadow-lg sm:w-80 dark:bg-gray-800"
            >
              <div class="py-2">
                <a
                  href="#"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700"
                >
                  <img
                    class="flex-shrink-0 object-cover w-8 h-8 mx-1 rounded-full"
                    src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    alt="avatar"
                  />
                  <p class="mx-2 text-sm text-gray-600 dark:text-white">
                    <span class="font-bold" href="#">Sara Salah</span> replied
                    on the
                    <span class="text-blue-500 hover:underline" href="#"
                      >Upload Image</span
                    >
                    artical . 2m
                  </p>
                </a>
                <a
                  href="#"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700"
                >
                  <img
                    class="flex-shrink-0 object-cover w-8 h-8 mx-1 rounded-full"
                    src="https://images.unsplash.com/photo-1531427186611-ecfd6d936c79?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
                    alt="avatar"
                  />
                  <p class="mx-2 text-sm text-gray-600 dark:text-white">
                    <span class="font-bold" href="#">Slick Net</span> start
                    following you . 45m
                  </p>
                </a>
                <a
                  href="#"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform border-b border-gray-100 hover:bg-gray-50 dark:hover:bg-gray-700 dark:border-gray-700"
                >
                  <img
                    class="flex-shrink-0 object-cover w-8 h-8 mx-1 rounded-full"
                    src="https://images.unsplash.com/photo-1450297350677-623de575f31c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80"
                    alt="avatar"
                  />
                  <p class="mx-2 text-sm text-gray-600 dark:text-white">
                    <span class="font-bold" href="#">Jane Doe</span> Like Your
                    reply on
                    <span class="text-blue-500 hover:underline" href="#"
                      >Test with TDD</span
                    >
                    artical . 1h
                  </p>
                </a>
                <a
                  href="#"
                  class="flex items-center px-4 py-3 -mx-2 transition-colors duration-300 transform hover:bg-gray-100 dark:hover:bg-gray-700"
                >
                  <img
                    class="flex-shrink-0 object-cover w-8 h-8 mx-1 rounded-full"
                    src="https://images.unsplash.com/photo-1580489944761-15a19d654956?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=398&q=80"
                    alt="avatar"
                  />
                  <p class="mx-2 text-sm text-gray-600 dark:text-white">
                    <span class="font-bold" href="#">Abigail Bennett</span>
                    start following you . 3h
                  </p>
                </a>
              </div>
              <a
                href="#"
                class="block py-2 font-bold text-center text-white bg-gray-800 dark:bg-gray-700 hover:underline"
                >See all notifications</a
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="px-6 pt-6 2xl:mx-[2.5%]">
      <div
        class="min-h-[80vh] rounded-xl"
      >
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer />
  </div>
</div>
