<aside
  #side
  class="scrollbar-thin scrollbar-track-slate-100 dark:scrollbar-track-slate-500/[0.16] scrollbar-track:!rounded scrollbar-thumb:!rounded dark:scrollbar-thumb-slate-500/50 scrollbar-thumb-slate-300 w-auto fixed top-0 z-10 ml-[-100%] overflow-x-auto rtl:mr-[-100%] flex h-screen flex-col justify-between border-r bg-white px-6 pb-3 transition duration-300 md:w-3/12 lg:w-[25%] xl:w-[20%] 2xl:w-[15%] dark:bg-gray-800 dark:border-gray-700"
>
  <div>
    <div class="-mx-6 px-6 py-4">
      <a href="#" title="home" class="flex justify-center">
        <img src="/assets/images/logo.svg" class="w-10 lg:w-16" alt=" logo" />
      </a>
    </div>

    <!-- <div class="mt-8 text-center">
      <img
        src="/assets/images/user.jpg"
        alt=""
        class="m-auto h-20 w-20 rounded-full object-cover lg:h-28 lg:w-28"
      />
      <h5
        class="mt-4 hidden text-xl font-semibold text-gray-600 lg:block dark:text-gray-300"
      >
        Cynthia J. Watts
      </h5>
      <span class="hidden text-gray-400 lg:block">Admin</span>
    </div> -->

    <!-- theme swicher  -->
    <!-- <div class="flex justify-center my-4">
      <label
        for="AcceptConditions"
        class="relative h-8 w-14 cursor-pointer justify-self-center"
      >
        <input
          type="checkbox"
          id="AcceptConditions"
          class="peer sr-only [&:checked_+_span_svg[data-unchecked-icon]]:hidden [&:checked_+_span_svg[data-checked-icon]]:block"
          ngModel
          (ngModelChange)="change($event)"
        />

        <span
          class="absolute inset-0 z-10 m-1 inline-flex h-6 w-6 items-center justify-center rounded-full bg-white text-gray-400 transition peer-checked:translate-x-6 rtl:peer-checked:-translate-x-6 peer-checked:text-gray-500"
        >
          <svg
            data-unchecked-icon
            fill="#000000"
            viewBox="0 0 32 32"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <title>sun</title>
              <path
                d="M23.395 14.106c2.958-1.383 2.828-6.068 5.758-5.884-4.125-2.74-4.019 3.106-9.089 1.235 1.107-3.068-2.292-6.286-0.091-8.227-4.855 0.979-0.645 5.039-5.555 7.301-1.384-2.958-6.068-2.828-5.884-5.758-2.74 4.125 3.106 4.019 1.235 9.089-3.068-1.107-6.286 2.292-8.227 0.091 0.979 4.855 5.039 0.645 7.301 5.555-2.958 1.384-2.828 6.068-5.758 5.884 4.125 2.74 4.019-3.106 9.089-1.235-1.107 3.068 2.292 6.286 0.091 8.227 4.855-0.979 0.645-5.039 5.555-7.301 1.384 2.958 6.068 2.828 5.884 5.758 2.74-4.125-3.106-4.019-1.235-9.089 3.068 1.107 6.286-2.292 8.226-0.091-0.979-4.855-5.039-0.645-7.301-5.555z"
              ></path>
            </g>
          </svg>

          <svg
            data-checked-icon
            xmlns="http://www.w3.org/2000/svg"
            class="hidden h-4 w-4"
            fill="currentColor"
            viewBox="0 0 1024 1024"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                fill="#000000"
                d="M240.448 240.448a384 384 0 1 0 559.424 525.696 448 448 0 0 1-542.016-542.08 390.592 390.592 0 0 0-17.408 16.384zm181.056 362.048a384 384 0 0 0 525.632 16.384A448 448 0 1 1 405.056 76.8a384 384 0 0 0 16.448 525.696z"
              ></path>
            </g>
          </svg>
        </span>

        <span
          class="absolute inset-0 rounded-full bg-gray-300 transition peer-checked:bg-gray-500"
        ></span>
      </label>
    </div> -->
    <!-- theme swicher end  -->

    <!-- relative flex items-center space-x-4 rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 px-4 py-3 text-white -->
    <ul class="mt-8 space-y-2 tracking-wide">
      <li *ngFor="let item of sidebarList">
        <a
          [routerLink]="item.route"
          [routerLinkActive]="
            'relative  rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400  text-white'
          "
          class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-800 dark:text-gray-300"
        >
          <svg
            class="-ml-1 h-6 w-6"
            viewBox="0 0 24 24"
            width="1.5rem"
            height="1.5rem"
            [innerHTML]="item.icon"
            xmlns="http://www.w3.org/2000/svg"
          ></svg>
          <span class="-mr-1 font-medium">{{ item.title }}</span>
        </a>
      </li>

      <!-- <li>
        <a
          href="#"
          class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              class="fill-current text-gray-300 group-hover:text-cyan-300"
              fill-rule="evenodd"
              d="M2 6a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1H8a3 3 0 00-3 3v1.5a1.5 1.5 0 01-3 0V6z"
              clip-rule="evenodd"
            />
            <path
              class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
              d="M6 12a2 2 0 012-2h8a2 2 0 012 2v2a2 2 0 01-2 2H2h2a2 2 0 002-2v-2z"
            />
          </svg>
          <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50"
            >Categories</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
              fill-rule="evenodd"
              d="M2 5a2 2 0 012-2h8a2 2 0 012 2v10a2 2 0 002 2H4a2 2 0 01-2-2V5zm3 1h6v4H5V6zm6 6H5v2h6v-2z"
              clip-rule="evenodd"
            />
            <path
              class="fill-current text-gray-300 group-hover:text-cyan-300"
              d="M15 7h1a2 2 0 012 2v5.5a1.5 1.5 0 01-3 0V7z"
            />
          </svg>
          <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50"
            >Reports</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-cyan-400"
              d="M2 10a8 8 0 018-8v8h8a8 8 0 11-16 0z"
            />
            <path
              class="fill-current text-gray-300 group-hover:text-cyan-300"
              d="M12 2.252A8.014 8.014 0 0117.748 8H12V2.252z"
            />
          </svg>
          <span class="group-hover:text-gray-700 dark:group-hover:text-gray-50"
            >Other data</span
          >
        </a>
      </li>
      <li>
        <a
          href="#"
          class="group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              class="fill-current text-gray-300 group-hover:text-cyan-300"
              d="M4 4a2 2 0 00-2 2v1h16V6a2 2 0 00-2-2H4z"
            />
            <path
              class="fill-current text-gray-600 group-hover:text-cyan-600 dark:group-hover:text-sky-400"
              fill-rule="evenodd"
              d="M18 9H2v5a2 2 0 002 2h12a2 2 0 002-2V9zM4 13a1 1 0 011-1h1a1 1 0 110 2H5a1 1 0 01-1-1zm5-1a1 1 0 100 2h1a1 1 0 100-2H9z"
              clip-rule="evenodd"
            />
          </svg>
          <span class="group-hover:text-gray-700 dark:group-hover:text-white"
            >Finance</span
          >
        </a>
      </li> -->
    </ul>
  </div>

  <div
    class="-mx-6 flex items-center justify-between border-t px-6 pt-4 dark:border-gray-700 flex-wrap"
  >
    <button
      class="w-full group flex items-center space-x-4 rounded-md px-4 py-3 text-gray-600 dark:text-gray-300"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1"
        />
      </svg>
      <span class="group-hover:text-gray-700 dark:group-hover:text-white"
        >Logout</span
      >
    </button>
  </div>
</aside>
