@use '@angular/material' as mat;
@use "sass:map";

mat.$theme-ignore-duplication-warnings: true;

@include mat.core();


@tailwind base;
@tailwind components;
@tailwind utilities;




html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

// Fonts
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply text-black transition duration-500 ease-in-out transform border-transparent rounded-lg bg-gray-200;

  &:focus {
    @apply ring-cyan-500 border-blue-500;
  }
}

html.dark {

  input,
  textarea {
    @apply text-white bg-gray-600;
  }
}