<h1 class="m-4 text-xl">Attendance</h1>
<button (click)="add()">sdsd</button>

<div class="flex overflow-auto flex-nowrap w-full mt-4">
  <div
    class="bg-gradient-to-b from-gray-200 to-gray-100 border-b-4 border-gray-700 dark:border-gray-200 dark:from-gray-600 dark:to-gray-500 rounded-lg shadow-xl p-2 min-w-[30%] mx-2"
    *ngFor="let item of class"
  >
    <div class="items-center">
      <div class="text-center">
        <span class="font-bold uppercase text-gray-600 dark:text-gray-50"
          >الحلقة الأولى</span
        >
      </div>
    </div>
  </div>
</div>
<hr class="my-5" />

<app-table [data]="all_att" [col]="columns" [select]="false"></app-table>
